.group-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 180px);
  width: 360px;
  height: 30px;
  object-fit: cover;
}
.placeholder-label7 {
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 22px;
}
.content7 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 107px);
  border-radius: 2px;
  background-color: #fff;
  width: 213px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 16px;
  box-sizing: border-box;
}
.vector-icon24 {
  position: absolute;
  top: calc(50% - 12px);
  right: 0;
  width: 20px;
  height: 23.5px;
}
.vector-icon25 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
}
.content-parent5 {
  position: absolute;
  top: calc(50% - 360px);
  left: calc(50% - 160px);
  width: 320px;
  height: 30px;
  color: rgba(60, 60, 67, 0.6);
  font-family: Roboto;
}
.group-child48 {
  position: absolute;
  top: 0;
  left: calc(50% - 170px);
  background-color: #fff;
  width: 340px;
  height: 100px;
}
.group-child49 {
  position: absolute;
  top: calc(50% - 35px);
  left: 14px;
  border-radius: 2px;
  background-color: #d9d9d9;
  width: 70px;
  height: 70px;
}
.bangladesh-crisis-schools3 {
  position: absolute;
  top: 15px;
  left: 99px;
  letter-spacing: 0.5px;
  line-height: 15px;
  color: inherit;
  display: flex;
  align-items: center;
  width: 226px;
  text-decoration: none;
}
.group-child50 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  width: 50px;
  height: 15px;
}
.see-more10 {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 17px);
  letter-spacing: 0.5px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 11px;
}
.rectangle-parent36 {
  position: absolute;
  top: 70px;
  left: 99px;
  width: 50px;
  height: 15px;
  text-align: center;
  font-size: 8px;
}
.last-updated-august-1912 {
  position: absolute;
  top: 52px;
  left: 99px;
  font-size: 6px;
  letter-spacing: 0.5px;
  line-height: 10px;
}
.rectangle-parent35 {
  position: absolute;
  top: 80px;
  left: calc(50% - 170px);
  width: 340px;
  height: 100px;
}
.bangladesh-crisis-schools4 {
  position: absolute;
  top: 15px;
  left: 99px;
  letter-spacing: 0.5px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 226px;
}
.rectangle-parent37 {
  position: absolute;
  top: 190px;
  left: calc(50% - 170px);
  width: 340px;
  height: 100px;
}
.rectangle-parent39,
.rectangle-parent41,
.rectangle-parent43,
.rectangle-parent45 {
  position: absolute;
  top: 300px;
  left: calc(50% - 170px);
  width: 340px;
  height: 100px;
}
.rectangle-parent41,
.rectangle-parent43,
.rectangle-parent45 {
  top: 410px;
}
.rectangle-parent43,
.rectangle-parent45 {
  top: 520px;
}
.rectangle-parent45 {
  top: 630px;
}
.news-events1 {
  width: 100%;
  position: relative;
  background-color: #f5eaea;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: "Roboto Condensed";
}

.crt{
  color: black;
}